*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    
    justify-content: center;
    font-family: "Audiowide", sans-serif;
}
body button{
    font-size:x-large;
    color: whitesmoke;
}

.calculator-outline{
    border: 2px solid black;
    height: 100%;
    width: 400px;
    border-radius: 5%;
    padding: 10px;
    background-color: black;
}
.display{
    height: 100px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #8cbb6b;
}
.topDisplay , .bottomDisplay{
    height: 50%;
}
.clearingDisplay{
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}
#delete , #clear{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 70px;
    border-radius: 10px;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.key, .operator, .equals{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    background-color: darkgray;
}
.equals ,.clear{
    background-color: red;
    color: whitesmoke;
}
.equals:hover ,.clear:hover{
    background-color: darkred;
    cursor: pointer;
}
.delete{
    background-color: darkgray;
    color: whitesmoke;
}
.delete:hover, .operator:hover, .key:hover{
    cursor: pointer;
    background-color: gray;
}
